<%- contentFor('body') %>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
					<%- include ('./partials/admin_messages') %>
                    <form action="/admin/change-password" id="changePasswordForm" method="post" class="form-material">
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Old Password<span class="required">*</span></label>
                                    <input type="password" placeholder="Old Password" name="old_password" value="" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>New Password<span class="required">*</span></label>
                                    <input type="password" placeholder="New Password" name="new_password" id="new_password" value="" class="form-control form-control-line">
                                </div>
                            </div>
                            
                        </div> 
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Confirm Password<span class="required">*</span></label>
                                    <input type="password" id="newPassword" placeholder="Confirm Password" name="confirm_password" value="" class="form-control form-control-line">
                                </div>
                            </div>
                        </div>           
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Change Password</button>
                                </div>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>

<%- contentFor('page_js') %>
<script type="text/javascript">
    $(document).ready(function(){
        $("#changePasswordForm").validate({
            rules:{
				old_password:{
                    required:true
                },
                new_password:{
                    required:true
                },
                confirm_password:{
                    required:true,
                    equalTo: "#new_password"
                }
            },
            errorElement:'div'
        })
    })
</script>