<%- contentFor('body') %>
<%
if(error_msg){
    __append('<span class="text-danger m-b-20">'+error_msg+'</span>');
}
if(success_msg){
    __append('<span class="text-success m-b-20">'+success_msg+'</span>');
}
%>
<form action="/admin/forgot-password" method="post" id="forgotPasswordForm" class="login100-form validate-form">
    <span class="login100-form-title m-b-55">
        <img src="/images/logo.png" alt="" height="80"/> 
    </span>
    <div class="wrap-input100 validate-input m-b-16">
        <input class="input100" type="text" name="email" placeholder="Email">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
        <span class="lnr lnr-envelope"></span>
        </span>
    </div>
    <div class="container-login100-form-btn p-t-25">
        <button type="submit" class="login100-form-btn">Send Request</button>
    </div>
</form>
<%- contentFor('page_js') %>
<script type="text/javascript">
    $(document).ready(function(){
        checkCookie();

        $("#forgotPasswordForm").validate({
            rules:{
                email:{
                    required:true,
                    email:true
                },
            },
            errorElement:'span',
            errorClass:'text-danger',
        });
    });

    
</script>