<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TCD</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/icon-font.min.css">
        <link rel="stylesheet" type="text/css" href="/css/util.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100 p-l-50 p-r-50 p-t-60 p-b-60">
                    <% if (data.is_valid_link == 1) { %>
                    <form action="/admin/reset-password" method="post" class="login100-form validate-form" id="resetpasswordForm">
                        <span class="login100-form-title m-b-55">
                            <img src="/images/logo.png" alt="" height="80"/>
                        </span>
                        <input type="hidden" name="identity" value="<%= data.identity%>" />
                        <input type="hidden" name="salt" value="<%= data.salt%>" />
                        
                        <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                            <input class="input100" id="password" type="password" name="password" placeholder="Password">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                            <span class="lnr lnr-lock"></span>
                            </span>
                        </div>
                        <div class="wrap-input100 validate-input m-b-16" data-validate="Confirm Password is required">
                            <input class="input100" id="confirm_password" type="password" name="confirm_password" placeholder="Confirm Password">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                            <span class="lnr lnr-lock"></span>
                            </span>
                        </div>
                        <div class="container-login100-form-btn p-t-25">
                            <button type="submit" class="login100-form-btn">Reset Password</button>
                        </div>
                    </form>
                    <% } else if (data.is_valid_link == 0 && data.message_type == '') { %>
                        <span class="login100-form-title m-b-55">
                            <img src="/images/logo.png" alt="" height="80"/>
                        </span>
                        <p>Invalid Link</p>
                    <% } else if (data.is_valid_link == 0 && data.message_type != '') { %> 
                        <span class="login100-form-title m-b-55">
                            <img src="/images/logo.png" alt="" height="80"/>
                        </span>
                        <div>
                            <p class="ml-4"><%= data.message_type == 'success' ? 'Password updated successfully'
                                : 'Invalid link'%></p>
                            <a style="float: right;font-weight: bold;" class="link" href="/admin/login">Login</a>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <script src="/script/jquery.min.js"></script>
        <script src="/script/jquery-ui.min.js"></script>
        <script src="/script/jquery.validate.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#resetpasswordForm").validate({
                    rules:{
                        password:{
                            required:true
                        },
                        confirm_password:{
                            required:true,
                            equalTo: "#password"
                        }
                    },
                    errorElement:'div'
                })
            })
        </script>
    </body>
</html>
